body{
    background-color: rgb(74, 74, 158);
    
}

.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.title{
    background-color: rgb(3, 3, 60);
    color: white;
    margin: 5px;
    box-shadow: 10 10 8;
}

.author{
    background-color: rgb(3, 3, 60);
    color: white;
    margin: 5px;
}

.number{
    background-color: rgb(3, 3, 60);
    color: white;
    margin: 5px;
}

.add{
    background-color: rgb(3, 3, 60);
    color: white;
    margin: 5px;
    padding: 15px 30px;
    border-radius: 25px;
}



input {
    padding: 15px 25px;
    border-radius: 15px;
    color: white;
    width: 500px;
}

.danger {
padding: 15px 30px;
background-color: rgb(3, 3, 60);;
color: white;
border-radius: 25px;

}

form {
    display: flex;
    flex-direction: column;}