body{
     background-color: rgb(74, 74, 158);
}

.dashboard{
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    background-color: rgb(3, 3, 60);
    color: white;
    box-shadow: 5px;
}