.Books{
 background-color: rgb(3, 3, 60);
 color: white;
}

.Dashboard{
background-color: rgb(3, 3, 60);
 color: white;
}

.Loans{
background-color: rgb(3, 3, 60);
 color: white;
}

.Students{
background-color: rgb(3, 3, 60);
 color: white;
}   

.navbar-test {
  background-color: rgb(3, 3, 60);
  color: white;   
}

.navbar-test a {
  color: white;
}